  table thead tr th {
    text-align: left;
  }

  img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }

  #user-table {
    padding-top: 10px;
  }

  table tbody tr td{
    font-size: 13px;
  }

  .td-name {
    color: #47a1f6;
  }

  th{
    color: #668094
  }