
  #content-header {
    padding-bottom: 2px;
  }

  #content-header mat-card-title {
    font-size: 15px;
    color: #47a1f6;
  }

  mat-card-subtitle{
    background: #f0f5fb;
    padding: 3px;
  }
