.user-card{
  padding-left: 10px;
  padding-top: 65px;
}

#user-card-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -65px;
  margin-left: 50px;
}

mat-card {
  min-height: 100px;
  min-width: 250px;
  h3 {
    margin-left: 35px;
    color : #47a1f6
  }
  p{
    margin-left: 65px;
  }
}
