.mat-card {
  min-height: 150px;
  min-width: 280px;
  max-width: 200px;
}

#home-card .item-right {
 float: right;
 img {
   height: 40px;
 }
}

#home-card .item-left {
  float:left;
  margin-top: 50px;
  p{
    color: #668094;
  }
}




  